       body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #D3D3D3;
            font-family: Arial, sans-serif;
            color: #FFFFFF;
        }

        .container {
            background-color: #1A1A1A;
            border: 2px solid #FFFFFF;
            box-shadow: 0 4px 20px rgba(0, 0, 2, 1);
            padding: 20px;
            width: 300px;
        }

        .container h1 {
            text-align: center;
        }

        .panel {
            background-color: #2A2A2A;
            border: 2px solid #FFFFFF;
            padding: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        }
        
        .sub-container{
            display: flex;
            flex-wrap: wrap;
        }

        .button {
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            color: #FFFFFF;
            background-color: #555555;
            border: none;
            cursor: pointer;
            margin: 5px;
            transition: all 0.1s ease;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
        }

        .button:hover {
            background-color: #777777;
            transform: translateY(-2px);
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
        }

        .button:active {
            transform: translateY(1px);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .input-field {
            width: 80%;
            margin: 5px 0;
            background-color: #4A4A4A;
            color: #FFFFFF;
            border: 1px solid #FFFFFF;
            padding: 10px;
        }

        h3 {
            margin-top: 0;
            color: #FFFFFF;
        }
        
        a{
            color:#FFFFFF;
        }
        
        .settings{
            padding-top: 20px;
        }