<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings-style.css') }}">
    <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
    <title>Network Settings</title>
</head>
<body>
    <div class="container">
        <h1>Network Settings</h1>
        <div class="sub-container">
            <div class="panel">
                <h3>Change IP Address</h3>

                <label for="ip-address">IP Address:</label>
                <input type="text" id="ip-address" class="input-field" placeholder="192.168.1.1" required>
                <label for="subnet-mask">Subnet Mask:</label>
                <input type="text" id="subnet-mask" class="input-field" placeholder="255.255.255.0" required>
                <label for="default-gateway">Default Gateway:</label>
                <input type="text" id="default-gateway" class="input-field" placeholder="192.168.1.254" required>
                <div class="button-container">
                    <button class="button" onclick="changeIP()">Change IP</button>
                </div>
            </div>
        </div>
        <div class = "settings">
            <a href="/">Home</a>
        </div>
    </div>
</body>
</html>
